body {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    color: #3a241d;
    text-align: center;
  }

  
#contenedor-izquierdo {
	background-color: #eee;
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: #eee;
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente2 {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente2 {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}

.contenedor-componente{
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	/*border:1px solid #ccc;*/
}


.componente{
	position: relative;
	z-index: 1;
	max-width: 80%;
	max-height: 80%;
	bottom:0px;
	/*border:1px solid rgb(235, 66, 66);*/
}

.cielo {
	height: 80%;
	width: 60%;
	background: #92b6bd;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: -2;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #51a149;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1; /* -1*/
}
